@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap");

body {
  background: linear-gradient(
    90deg,
    hsla(266, 75%, 55%, 1) 0%,
    hsla(340, 47%, 77%, 1) 100%
  );
  font-family: "Golos Text", sans-serif;
}

* {
  transition: "0.1s ease-in-out";
}

html,
body,
#root {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}
